/* Google Fonts */
@import url(//fonts.googleapis.com/css?family=Special+Elite);
@import url(//fonts.googleapis.com/css?family=Aladin);

/* General Appearance */
body {
    font-family: 'Special Elite', 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family:  'Unicorn', 'Aladin', 'Open Sans', sans-serif;
}

div.page-header h1 {
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

/* Well containing copy on home page */
.homepage-copy {
    margin-top: 25px;
}

/* Smallprint on home page */
div#smallprint {
    margin-top: 2em;
}

/* Menu item PLEDGE */
.navbar-nav>li>a.pledge-menu-item {
    color: #FCFCCC;
    background-color: #FF3333;
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a.pledge-menu-item {
    color: #FF3333;
    background-color: #FCFCCC;
    font-weight: bold;
}

.navbar-nav>li>a.pledge-menu-item:hover, .navbar-nav>li>a.pledge-menu-item:active {
    color: #FF3333;
    background-color: #FCFCCC;
    font-weight: bold;
}

/* Jigsaw pieces on home page */

.jigsaw-piece {
    font-family: 'Special Elite', 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    line-height: 1.5px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1.5px;
    width: 75px;
    height: 90px;
    margin: 20px 2px;
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.jigsaw-piece .jigsaw-piece-t {
    width: 20px;
    height: 20px;
    position: absolute;
    top: -18px;
    left: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.jigsaw-piece .jigsaw-piece-r {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 25px;
    left: 71px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.jigsaw-piece .jigsaw-piece-b {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 75px;
    left: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.jigsaw-piece .jigsaw-piece-l {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 40px;
    left: -4px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

div.jigsaw-piece .jigsaw-label-missing {
    display: block;
    width: 75px;
    height: 90px;
    font-size: 24px;
    text-align: center;
    line-height: 90px;
    position: absolute;
    background: transparent !important;
}

div.jigsaw-piece .jigsaw-label-pledged {
    display: block;
    width: 75px;
    height: 90px;
    font-size: 24px;
    text-align: center;
    line-height: 90px;
    position: absolute;
    background: transparent !important;
}

div#the-puzzle a:link, div#the-puzzle a:visited {
    color: black;
    background-color: transparent;
    text-underline: none;
}

div#the-puzzle a:active, div#the-puzzle a:hover {
    color: #FF3333;
    background-color: transparent;
    text-underline: none;
}

.jigsaw-red {
    background: rgba(255, 0, 0, 1);
}

.jigsaw-grey {
    background: rgba(204, 204, 204, 1);
}

.jigsaw-green {
    background: rgba(0, 255, 0, 1);
}

.jigsaw-white {
    background: rgba(255, 255, 255, 1);
}

.piece-pledged {
    background: rgba(0, 255, 0, 1);
    background: -moz-linear-gradient( top ,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 255, 0, 1) 15%,
        rgba(0, 255, 0, 1) 30%,
        rgba(0, 255, 255, 1) 50%,
        rgba(0, 0, 255, 1) 65%,
        rgba(255, 0, 255, 1) 80%,
        rgba(255, 0, 0, 1) 100%);
    background: -webkit-gradient(linear,  left top,  left bottom,
        color-stop(0%, rgba(255, 0, 0, 1)),
        color-stop(15%, rgba(255, 255, 0, 1)),
        color-stop(30%, rgba(0, 255, 0, 1)),
        color-stop(50%, rgba(0, 255, 255, 1)),
        color-stop(65%, rgba(0, 0, 255, 1)),
        color-stop(80%, rgba(255, 0, 255, 1)),
        color-stop(100%, rgba(255, 0, 0, 1)));
}

.piece-missing {
    background-color: #CCCCCC;
}

/* Used in copy text on home page as visual reference to menu item */
div#the-puzzle a.pledge-button-like-link:link, div#the-puzzle a.pledge-button-like-link:visited {
    color: #FCFCCC;
    background-color: #FF3333;
    font-weight: bold;
    margin: 0.1em;
    padding: 0.2em;
}

div#the-puzzle a.pledge-button-like-link:hover, div#the-puzzle a.pledge-button-like-link:active {
    color: #FF3333;
    background-color: #FCFCCC;
    font-weight: bold;
}

/* Tables */

.item-filter-and-order-controls {
    margin-bottom: 1em;
}

table.item-table td, table.item-table th {
    font-family: 'Special Elite', 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    line-height: 1.5px;
    height: 1.7em;
    letter-spacing: 1.5px;
}

table.item-table > tbody > tr > td {
    vertical-align: middle;
}

.pledge-list-item {
    padding: .5em;
    margin: .3em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
    border: solid .1em black;
}

.pledge-list-item.odd {
    background-color: #ddd;
}

.pledge-list-item.even {
    background-color: transparent;
}

/* Jigsaw-shaped controls */
a.cancel-pledge {
    text-decoration: none;
}

.item-cancel {
    cursor: pointer;
}

.jigsaw {
    font-family: 'Special Elite', 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    line-height: 1.5px;
    vertical-align: middle;
    text-align: center;
    letter-spacing: 1.5px;
    width: 10em;
    height: 1.7em;
    margin: .5em;
    position: relative;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;
}

.pledge {
    background-color: #33CC00;
    color: #663366;
    cursor: pointer;
}

.pledge-inverse {
    background-color: #FFFFFF;
    color: #663366;
}

.pledged {
    background-color: #FF3333;
    color: #FCFCCC;
}

.pledged-inverse {
    background-color: #FFFFFF;
    color: #333333;
}

.cancel-pledged {
    background-color: #FF3333;
    color: #FCFCCC;
}

.cancel-pledged-inverse {
    background-color: #FFFFFF;
    color: #333333;
}

div.jigsaw .text {
  display: block;
  font-size: 1.2em;
  text-align: center;
  padding: 0.8em 0 0 1.2em;
  position: relative;
  background: transparent !important;
}

.jigsaw .t {
 width: 1em;
  height: 1em;
  position: absolute;
  top: -0.8em;
  left: 2em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw .r {
 width: 1em;
  height: 1em;
  position: absolute;
  top: 0.35em;
  left: 9.8em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw .b {
 width: .8em;
  height: .8em;
  position: absolute;
  top: 1em;
  left: 1.4em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}

.jigsaw .l {
 width: .8em;
  height: .8em;
  position: absolute;
  top: 0.5em;
  left: -0.1em;
  -webkit-border-radius: 4em;
  -moz-border-radius: 4em;
  border-radius: 4em;
}
