{% extends "@FOSUser/Base/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<p>
{{ 'resetting.check_email'|trans({'%email%': email}) }}
</p>

<p><a href="{{ path('homepage') }}">{{ 'resetting.home'|trans() }}</a></p>
{% endblock %}
