{% extends "@FOSUser/Base/layout.html.twig" %}
{% block title %}{{ 'resetting.title'|trans({}, 'FOSUserBundle') }}{% endblock title %}
{% block fos_user_content %}
<h1>{{ 'resetting.title'|trans({}, 'FOSUserBundle') }}</h1>
{% include "FOSUserBundle:Resetting:request_content.html.twig" %}
{% endblock fos_user_content %}
